/* #foodArray{
    text-align: center;
    padding: 5%;
    border-color: black;
    border-width: 10px;
} */

#foodArrayContainer{
    border: 2px solid black; 
    padding: 10px;
}

#foodSelectionContainer{
    border: 2px solid black; 
    padding: 10px;
    display: flex; 
    flex-direction: column;
}

.container{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#searchButton{
    padding: 15px; 
    font-size: 16px;
}

.textBox{
    padding: 5px;
    margin-bottom: 10px;
}